    <h1>
  Actor #<%= @actor_id %> details
</h1>

<a href="/actors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @actor.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @actor.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @actor.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>

  <% @characters.each do |character| %>
    <tr>
      <td>
        <% played_in_movies = Movie.where({ :id => character.movie_id}) %>

        <% movie = played_in_movies.at(0) %>

        <%= movie.title %>
      </td>

      <td>
        <%= movie.year %>
      </td>

      <td>
        <% directors = Director.where({ :id => movie.director_id }) %>
        <% director = directors.at(0) %>
        <%= director.name %>
      </td>

      <td>
        <%= character.name %>
      </td>

      <td>
        <a href="/movies/<%= movie.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
